<ul class="list-group">
    <li *ngFor="let task of tasks" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="form-check">
            <input type="checkbox"
                   class="form-check-input"
                   (change)="onTaskChange($event, task)"
                   [checked]="task.completed" />
            <label class="form-check-label" ngClass="{{task.completed ? 'name completed' : 'name'}}">{{task.name}}</label>
        </div>
        <span class="badge badge-pill {{getDueDateLabel(task)}}">{{task.dueDate}}</span>
    </li>
</ul>
